
.vs/ConsoleLord/v16/.suo
.vs/ConsoleLord/v16/Browse.VC.db
.vs/ConsoleLord/v16/Browse.VC.db-shm
.vs/ConsoleLord/v16/Browse.VC.db-wal
.vs/ConsoleLord/v16/Browse.VC.opendb
.vs/ConsoleLord/v16/ipch/AutoPCH/41d9eb46af27238/BUILDINGS.ipch
.vs/ConsoleLord/v16/ipch/AutoPCH/528a33c5cab939fc/PLAYER.ipch
.vs/ConsoleLord/v16/ipch/AutoPCH/9e55031f7a065c7c/MAIN.ipch
.vs/ConsoleLord/v16/ipch/AutoPCH/b738a61d317a85e/SETTLEMENT.ipch
.vs/ConsoleLord/v16/ipch/AutoPCH/ed88e0575d7e6f1b/GAME.ipch
